{% extends "TugelBundle::layout.html.twig" %}

{% block content %}
<div class="container">
	<h2><a href="{{ package.url }}">{{ package.name }}</a></h2>
	<h3>Platform: {{ package.platform.name }}</h3>
	<h4>Languages: {{ package.languages }}</h4>
	<h4>Version: {{ package.version }}</h4>
{% if package.license is not empty %}
	<h4>License: {{ package.license }}</h4>
{% endif %}
	<h5>ID: {{ package.id }}</h5>

	<div class="panel-group accordion" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<a class="panel-heading" role="tab" id="descriptionHeading">
				<h4 class="panel-title">Description</h4>
			</a>
			<div id="description" class="panel-collapse collapse in" role="tabpanel">
				<div class="panel-body">
					{{ package.description is empty ? 'No description available' : package.description }}
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<a class="panel-heading" role="tab" id="dependenciesHeading">
    			<span class="badge">{{ package.dependencies|length }}</span>
				<h4 class="panel-title">Dependencies</h4>
			</a>
			<div id="dependencies" class="panel-collapse collapse" role="tabpanel">
				<div class="panel-body">
					<ul>
						{% for pkg in package.dependencies %}
						<li>
							<a href="{{ path('info_named', {platform:pkg.platform.name, package:pkg.name}) }}">{{ pkg.name }}</a>
							{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<a class="panel-heading" role="tab" id="dependencyOfHeading">
    			<span class="badge">{{ package.dependencyOf|length }}</span>
				<h4 class="panel-title">Dependency of</h4>
			</a>
			<div id="dependency-of" class="panel-collapse collapse" role="tabpanel">
				<div class="panel-body">
					<ul>
						{% for pkg in package.dependencyOf %}
						<li>
							<a href="{{ path('info_named', {platform:pkg.platform.name, package:pkg.name}) }}">{{ pkg.name }}</a>
							{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<a class="panel-heading" role="tab" id="tagsHeading">
    			<span class="badge">{{ package.tags|length }}</span>
				<h4 class="panel-title">Tags</h4>
			</a>
			<div id="tags" class="panel-collapse collapse" role="tabpanel">
				<div class="panel-body">
					<ul>
						{% for tag in package.tags %}
							<li>{{ tag.count }} - {{ tag.name }}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}