{% extends "TugelBundle::layout.html.twig" %}

{% block content %}
<div class="container">
{% if results is defined %}
	{% set q = 'library ' ~ (query.platform is defined ? query.platform ~ ' ' : '') ~ (query.language is defined ? query.language ~ ' ' : '') ~ query.query %}
	{% set q = q|url_encode %}
	<div style="font-weight:bold;"> |
		<a href="http://google.com/search?q={{ q }}">Google</a> |
		<a href="http://bing.com/search?q={{ q }}">Bing</a> |
		<a href="https://packagist.org/search/?q={{ query.query|url_encode }}">Packagist</a> |
		<a href="http://hackage.haskell.org/packages/search?terms={{ query.query|url_encode }}">Hackage</a> |
		<a href="https://pypi.python.org/pypi?%3Aaction=search&term={{ query.query|url_encode }}">PyPi</a> |
	</div>
{% if query.platform is defined or query.language is defined %}
	<h3>{% if query.platform is defined %}Platform: {{ query.platform }}{% endif %} {% if query.language is defined %}Language: {{ query.language }}{% endif %}</h3>
{% endif %}
	<hr>
	<ul>
		{% for id,package in results %}
		<li>
			<h4>
				<span class="pkg_score {{ package._percentScore > 0.66 ? 'score_green' : (package._percentScore > 0.5 ? 'score_orange' : 'score_red') }}">{{ package._score|number_format(3) }}</span>
				{#<a href="{{ path('info', {id:package.id}) }}">{{ package.name }}</a>#}
				<a href="{{ path('info_named', {platform:package.platform.name, package:package.name}) }}">{{ package.name }}</a>
				<a href="{{ package.url }}"><span class="glyphicon glyphicon-link"> </span></a>
			</h4>
			<div>
				<span class="pkg_platform">{{ package.platform.name }}</span>
				<span class="pkg_version">{{ package.version }}</span> 
				<a class="pkg_google" href="https://google.com/search?q={{ package.name|replace({'com.':'', '.': ' ', ':': ' ', '-': ' '})|url_encode }}">G</a>
			</div>
			<p>{{ package.description[:250] ~ '...' }}</p>
		</li>
		{% endfor %}
		<hr>
		<p>Query time: {{ time }}</p>
		{% if app.environment == 'dev' %}<pre>{{ el_query }}</pre>{% endif %}
	</ul>
{% else %}
{% if query.platform is defined or query.language is defined %}
	<h3>{% if query.platform is defined %}Platform: {{ query.platform }}{% endif %} {% if query.language is defined %}Language: {{ query.language }}{% endif %}</h3>
{% endif %}
{% endif %}
</div>
{% endblock %}