{% extends "TugelBundle::layout.html.twig" %}

{% block content %}
<div class="container">
	<ul>
		{% for id,package in searchResults %}
		<li>
			<h4>
				<span class="{{ percentScores[package.id] > 0.66 ? 'score_green' : (percentScores[package.id] > 0.5 ? 'score_orange' : 'score_red') }}" style="font-size:0.8em;">{{ scores[package.id]|number_format(3) }}</span>
				<a target="_blank" href="{{ package.url }}">{{ package.name }}</a>
			</h4>
			<div>#{{ package.id }} platform:{{ package.platform.name }} - version:{{ package.version }}</div>
			<p>{{ package.description[:250] ~ '...' }}</p>
		</li>
		{% endfor %}
		<hr>
		<p>Query time: {{ lastQueryTime }}</p>
		{% if app.environment == 'dev' %}<pre>{{ lastQuery }}</pre>{% endif %}
	</ul>
</div>
{% endblock %}