{% extends "TugelBundle::layout.html.twig" %}

{% block content %}
<div class="container">
	{% set q = 'package ' ~ query.platform ~ ' ' ~ query.query %}
	{% set q = q|url_encode %}
	<div style="font-weight:bold;"> |
		<a target="_blank" href="http://google.com/search?q={{ q }}">Google</a> |
		<a target="_blank" href="http://bing.com/search?q={{ q }}">Bing</a> |
		<a target="_blank" href="https://packagist.org/search/?q={{ query.query|url_encode }}">Packagist</a> |
		<a target="_blank" href="http://hackage.haskell.org/packages/search?terms={{ query.query|url_encode }}">Hackage</a> |
		<a target="_blank" href="https://pypi.python.org/pypi?%3Aaction=search&term={{ query.query|url_encode }}">PyPi</a> |
	</div>
	<hr>
	<ul>
		{% for id,package in results %}
		<li>
			<h4>
				<span class="pkg_score {{ package._percentScore > 0.66 ? 'score_green' : (package._percentScore > 0.5 ? 'score_orange' : 'score_red') }}">{{ package._score|number_format(3) }}</span>
				<a target="_blank" href="{{ package.url }}">{{ package.name }}</a>
			</h4>
			<div>
				<span class="pkg_id">{{ package.id }}</span>
				<span class="pkg_platform">{{ package.platform.name }}</span>
				<span class="pkg_version">{{ package.version }}</span> 
				<a class="pkg_google" target="_blank" href="http://google.com/search?q={{ package.name|url_encode }}">G</a>
			</div>
			<p>{{ package.description[:250] ~ '...' }}</p>
		</li>
		{% endfor %}
		<hr>
		<p>Query time: {{ time }}</p>
		{% if app.environment == 'dev' %}<pre>{{ el_query }}</pre>{% endif %}
	</ul>
</div>
{% endblock %}